<module>
	<rawname>exchangeum</rawname>
	<repo>standard</repo>
	<name>Exchange UM</name>
	<version>2.11.0.3</version>
	<publisher>Excalibur Partners, LLC</publisher>
	<license>GPLv2+</license>
	<category>Settings</category>
	<menuitems>
		<exchangeum>Exchange UM Settings</exchangeum>
	</menuitems>
	<description>Adds configurations, options and GUI for Exchange UM</description>
	<changelog>
		*2.11.0.3* Fix security vulnerability allowing callers to initiate a transfer
		*2.11.0.2* Adds support for multiple exchange organizations and servers
		*2.11.0.1* Adds configuration option to initially setup users
		*2.11.0.0* Initial release
	</changelog>
	<depends>
		<version>2.11.0</version>
	</depends>
</module>
